<div class="row">
  <div class="col-7 left"></div>
  <div class="col-5 right">
    <div class="row d-flex justify-content-center">
      <div class="d-flex justify-content-end align-items-start pt-5 me-5">
        <select #lang (click)="changeLang(lang.value)" id="language">
          <option value="tr">🇹🇷</option>
          <option selected value="en">🇬🇧</option>
        </select>
      </div>
      <div class="col-md-8">
        <form [formGroup]="loginForm" (submit)="onSubmit()">
          <div class="icon d-flex justify-content-center">
            <div>
              <div class="d-flex justify-content-center">
                <h1>COMMERCE</h1>
              </div>
              <div
                class="d-flex justify-content-center align-items-center flex-column"
              >
                <h5 class="text-center">{{ "login.title" | transloco }}</h5>
                <app-loading-spinner
                  *ngIf="isLoading"
                  class="mb-4 ms-4"
                ></app-loading-spinner>
                <p
                  *ngIf="loggedIn"
                  id="success"
                  class="help-block text-success text-center"
                >
                  {{ "login.success-message" | transloco }}
                  <fa-icon class="icon" [icon]="faCheck"></fa-icon>
                </p>
                <p *ngIf="loginErrorMessage" class="help-block text-danger">
                  {{ loginErrorMessage }}
                  <fa-icon class="icon" [icon]="faShield"></fa-icon>
                </p>
              </div>
            </div>
          </div>
          <p
            *ngIf="
              !loginForm.get('email').valid && loginForm.get('email').touched
            "
            class="help-block text-danger rounded"
          >
            {{ "login.invalid-email-format" | transloco }}
          </p>
          <div *ngIf="!isForgot">
            <label class="mb-1">{{ "login.email" | transloco }}</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><fa-icon class="icon" [icon]="faUser"></fa-icon
              ></span>
              <input
                type="email"
                class="form-control"
                placeholder="{{ 'login.email' | transloco }}"
                [formControlName]="'email'"
              />
            </div>
            <label class="mb-1">{{ "login.password" | transloco }}</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><fa-icon class="icon" [icon]="faKey"></fa-icon
              ></span>
              <input
                type="password"
                class="form-control"
                placeholder="{{ 'login.password' | transloco }}"
                [formControlName]="'password'"
              />
            </div>
            <button
              [disabled]="loginForm.invalid"
              type="submit"
              class="btn btn-sm btn-primary float-end"
            >
              {{ "login.login-btn" | transloco }}
            </button>
            <button
              type="button"
              class="back btn btn-sm btn-primary float-end me-2"
              (click)="toRegisterPage()"
            >
              <fa-icon class="icon" [icon]="faSquareLeft"></fa-icon>
              {{ "login.register" | transloco }}
            </button>
          </div>
          <div *ngIf="isForgot">
            <p
              *ngIf="resetEmailSentMessage"
              class="help-block bg-success text-white rounded"
            >
              {{ "login.e-mail-sent" | transloco }}
            </p>
            <label class="mb-1">{{ "login.email" | transloco }}</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><fa-icon class="icon" [icon]="faUser"></fa-icon
              ></span>
              <input
                #passwordReset
                type="email"
                class="form-control"
                placeholder="{{ 'login.email' | transloco }}"
              />
            </div>
            <button
              type="button"
              (click)="resetPassword(passwordReset.value)"
              class="btn btn-primary btn-sm float-end mb-3"
            >
              {{ "login.send-button" | transloco }}
            </button>
            <button
              type="button"
              class="back btn btn-sm btn-primary float-end me-2"
              (click)="toLogin()"
            >
              <fa-icon class="icon" [icon]="faSquareLeft"></fa-icon>
              {{ "login.login-btn" | transloco }}
            </button>
          </div>
        </form>
        <a *ngIf="!isForgot" (click)="forgot()" class="forgot float-end mt-5">{{
          "login.forgot" | transloco
        }}</a>
      </div>
    </div>
  </div>
</div>
