<div class="row">
  <div class="col-md-2 sidebar">
    <ul class="list-group mt-4">
      <hr />
      <li
        [routerLink]="['/admin/new']"
        routerLinkActive="active"
        class="list-group-item"
      >
        {{ "dashboard.new-product" | transloco }}
      </li>
      <li
        [routerLink]="['/admin/shop']"
        routerLinkActive="active"
        class="list-group-item"
      >
        {{ "dashboard.product-list" | transloco }}
      </li>
      <li
        [routerLink]="['/admin/orders']"
        routerLinkActive="active"
        class="list-group-item"
      >
        {{ "dashboard.orders" | transloco }}
      </li>
    </ul>
  </div>
  <div class="col-md-10 body">
    <router-outlet></router-outlet>
  </div>
</div>
