<div class="row">
  <div class="col-7 left"></div>
  <div class="col-5 right">
    <div class="row d-flex justify-content-center">
      <div class="d-flex justify-content-end align-items-start pt-5 me-5">
        <select #lang (click)="changeLang(lang.value)" id="language">
          <option value="tr">🇹🇷</option>
          <option selected value="en">🇬🇧</option>
        </select>
      </div>
      <div class="col-md-8">
        <form [formGroup]="registerForm" (submit)="onSubmit()">
          <div class="icon d-flex justify-content-center">
            <div>
              <div class="d-flex justify-content-center">
                <h1>COMMERCE</h1>
              </div>
              <div
                class="d-flex justify-content-center align-items-center flex-column"
              >
                <h5 class="text-center">{{ "register.title" | transloco }}</h5>
                <app-loading-spinner
                  *ngIf="isLoading"
                  class="mb-4 ms-4"
                ></app-loading-spinner>
                <p *ngIf="registerError" class="help-block text-danger">
                  {{ registerError }}
                  <fa-icon class="icon" [icon]="faShield"></fa-icon>
                </p>
                <p *ngIf="verifyMailSent" class="help-block text-success">
                  {{ "register.verify-message" | transloco }}
                  <fa-icon class="icon" [icon]="faShield"></fa-icon>
                </p>
              </div>
            </div>
          </div>

          <label class="mb-1">{{ "register.email" | transloco }}</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              ><fa-icon class="icon" [icon]="faUser"></fa-icon
            ></span>
            <input
              type="email"
              class="form-control"
              placeholder="{{ 'register.email' | transloco }}"
              [formControlName]="'email'"
            />
          </div>
          <p
            *ngIf="
              registerForm.get('email').invalid &&
              registerForm.get('email').touched
            "
            class="help-block text-danger"
          >
            {{ "register.invalid-email-format" | transloco }}
          </p>
          <label class="mb-1">{{ "register.password" | transloco }}</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              ><fa-icon class="icon" [icon]="faKey"></fa-icon
            ></span>
            <input
              type="password"
              class="form-control"
              placeholder="{{ 'register.password' | transloco }}"
              [formControlName]="'password'"
            />
          </div>
          <p
            *ngIf="
              registerForm.get('password').invalid &&
              registerForm.get('password').touched
            "
            class="help-block text-danger"
          >
            {{ "register.password-type-info" | transloco }}
          </p>
          <label class="mb-1">{{ "register.repassword" | transloco }}</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              ><fa-icon class="icon" [icon]="faKey"></fa-icon
            ></span>
            <input
              type="password"
              class="form-control"
              placeholder="{{ 'register.repassword' | transloco }}"
              [formControlName]="'repassword'"
            />
          </div>
          <p
            *ngIf="passwordWarning && registerForm.get('repassword').touched"
            class="help-block text-danger"
          >
            {{ "register.password-not-match" | transloco }}
          </p>
          <div (click)="signInGoogle()" class="google p-1 rounded mb-2">
            <img
              style="width: 30px"
              src="../../../../../assets/google.png"
              alt="google"
            />
            <span class="ms-4">{{ "login.withGoogle" | transloco }}</span>
          </div>
          <div (click)="signInGithub()" class="github p-1 rounded mb-3">
            <img
              style="width: 30px; background-color: white"
              src="../../../../../assets/github.png"
              alt="github"
            />
            <span class="ms-4">{{ "login.withGithub" | transloco }}</span>
          </div>
          <button
            [disabled]="registerForm.invalid"
            type="submit"
            class="btn btn-sm btn-primary float-end"
          >
            {{ "register.register-btn" | transloco }}
          </button>
          <button
            type="button"
            class="back btn btn-sm btn-primary float-end me-2"
            (click)="toLoginPage()"
          >
            <fa-icon class="icon" [icon]="faSquareLeft"></fa-icon>
            {{ "register.login" | transloco }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
