<div class="container">
  <div class="row">
    <div class="col-md-7 left">
      <img [src]="imageSrc || '../../../assets/dummy.jpg'" alt="picture" />
    </div>
    <div class="col-md-5 right p-5">
      <h2 class="mb-4 h2">
        {{ isEditMode ? ("new.edit" | transloco) : ("new.new" | transloco) }}
      </h2>
      <form [formGroup]="productLoadForm" (submit)="onSubmit()">
        <div class="form-group">
          <p
            *ngIf="
              productLoadForm.get('title').hasError('required') &&
              productLoadForm.get('title').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            {{ "new.title-required" | transloco }}
          </p>
          <p
            *ngIf="
              productLoadForm.get('title').hasError('maxlength') &&
              productLoadForm.get('title').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            {{ "new.title-long" | transloco }}
          </p>
          <label for="title">{{ "new.title" | transloco }}</label>
          <input
            [formControlName]="'title'"
            type="text"
            class="form-control"
            id="title"
            placeholder="{{ 'new.title' | transloco }}"
          />
        </div>
        <div class="form-group">
          <p
            *ngIf="
              productLoadForm.get('category').invalid &&
              productLoadForm.get('category').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            {{ "new.category-req" | transloco }}
          </p>
          <label for="category">{{ "new.category" | transloco }}</label>
          <select [formControlName]="'category'" class="form-select">
            <option value="sweatshirt">
              {{ "new.sweatshirt" | transloco }}
            </option>
            <option value="pants">{{ "new.pants" | transloco }}</option>
            <option value="shirts">{{ "new.shirts" | transloco }}</option>
            <option value="jumper">{{ "new.jumper" | transloco }}</option>
            <option value="coats">{{ "new.coats" | transloco }}</option>
            <option value="jacket">{{ "new.jacket" | transloco }}</option>
            <option value="shorts">{{ "new.shorts" | transloco }}</option>
          </select>
        </div>
        <div class="form-group">
          <p
            *ngIf="
              productLoadForm.get('price').invalid &&
              productLoadForm.get('price').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            {{ "new.price-req" | transloco }}
          </p>
          <label for="price">{{ "new.price" | transloco }}</label>
          <input
            [formControlName]="'price'"
            type="number"
            class="form-control"
            id="price"
            placeholder="{{ 'new.price' | transloco }}"
          />
        </div>
        <div class="form-group">
          <p
            *ngIf="
              productLoadForm.get('description').invalid &&
              productLoadForm.get('description').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            {{ "new.description-red" | transloco }}
          </p>
          <label for="description">{{ "new.description" | transloco }}</label>
          <textarea
            rows="4"
            [formControlName]="'description'"
            id="description"
            placeholder="{{ 'new.description' | transloco }}"
          ></textarea>
        </div>
        <div class="form-group">
          <p
            *ngIf="
              productLoadForm.get('picture').invalid &&
              productLoadForm.get('picture').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            {{ "new.picture-req" | transloco }}
          </p>
          <label for="picture">{{ "new.choose-pic" | transloco }}</label>
          <input
            [formControlName]="'picture'"
            type="file"
            (change)="readURL($event)"
            accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
            class="form-control"
            id="picture"
          />
        </div>
        <div class="form-group">
          <p
            *ngIf="
              productLoadForm.get('stock').invalid &&
              productLoadForm.get('stock').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            {{ "new.stock-req" | transloco }}
          </p>
          <label for="stock">{{ "new.stock" | transloco }}</label>
          <input
            [formControlName]="'stock'"
            type="number"
            class="form-control"
            id="stock"
            placeholder="{{ 'new.stock' | transloco }}"
          />
        </div>
        <div class="form-group">
          <span *ngIf="isDataSavedSuccessfully" class="text-success float-left"
            >{{ "new.saved" | transloco }} <fa-icon [icon]="faCheck"></fa-icon
          ></span>
          <span
            *ngIf="isDataSavedSuccessfully == false"
            class="text-danger float-left"
            >{{ "new.error" | transloco }} <fa-icon [icon]="faX"></fa-icon
          ></span>
          <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
          <button
            [disabled]="productLoadForm.invalid"
            type="submit"
            class="btn btn-primary btn-sm float-end"
          >
            {{
              isEditMode == true
                ? ("new.edit-btn" | transloco)
                : ("new.save-btn" | transloco)
            }}
          </button>
        </div>
      </form>
      <app-confirm *ngIf="showPopUp"></app-confirm>
    </div>
  </div>
</div>
