<div class="row sidebar">
  <div
    class="right col-sm-12 text-white d-flex justify-content-center align-items-center flex-row pb-2 pt-2"
  >
    <button
      #all
      [routerLink]="
        userLoggedIn.email == 'admin@admin.com' ? ['/admin/shop'] : ['/shop']
      "
      class="all focus"
    >
      All
    </button>

    <div *ngFor="let button of categories">
      <span>|</span>
      <button
        [ngClass]="buttonValue == buton.value ? 'focus' : 'all'"
        #buton
        [routerLink]="
          userLoggedIn.email == 'admin@admin.com' ? ['/admin/shop'] : ['/shop']
        "
        [queryParams]="{ search: buton.value }"
        value="{{ button }}"
        (click)="sendVal(buton.value)"
      >
        {{ button }}
      </button>
    </div>

    <select #opt (click)="sortBy(opt.value)" id="sort" class="ms-2">
      <option selected disabled value="">{{ "shop.sort" | transloco }}</option>
      <option value="HL">{{ "shop.hl" | transloco }}</option>
      <option value="LH">{{ "shop.lh" | transloco }}</option>
    </select>
    <div>
      <button (click)="listCardToggle()" class="focus ms-3">
        {{ listOrCard ? ("shop.list" | transloco) : ("shop.card" | transloco) }}
      </button>
    </div>
  </div>
</div>
<div *ngIf="listOrCard" class="container mt-5 mb-5">
  <div class="row mb-5">
    <div
      *ngFor="let product of products | search: categoryValue"
      class="col-md-3 main-card"
    >
      <div
        [routerLink]="
          userLoggedIn.email == 'admin@admin.com'
            ? ['/admin/detail', product.id]
            : ['/detail', product.id]
        "
        class="card mb-3"
      >
        <div class="image-div d-flex justify-content-center">
          <img
            class="card-img-top"
            src="{{ product.imagePath }}"
            alt="Card image cap"
          />
        </div>
        <div class="body-div">
          <div class="card-body">
            <div class="title-div">
              <h5 class="card-title text-center">
                {{
                  product.title.length > 25
                    ? (product.title | slice: 0:25) + "..."
                    : product.title
                }}
              </h5>
            </div>
            <div class="card-div">
              <p class="card-text text-center">
                {{
                  product.description.length > 125
                    ? (product.description | slice: 0:120) + "..."
                    : product.description
                }}
              </p>
            </div>
            <div class="price-div">
              <p class="size text-center mb-1">
                <span>S-XXL</span>
              </p>
              <p class="price text-center mb-3">${{ product.price }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="!categoryValue"
    class="d-flex justify-content-center align-items-center flex-row"
  >
    <button (click)="pageDown()" class="btn btn-sm me-2">
      {{ "shop.prev" | transloco }}
    </button>
    <span class="page-numbers">{{ currentPage + 1 }}/{{ totalPage + 1 }}</span>
    <button (click)="pageUp()" class="btn btn-sm ms-2">
      {{ "shop.next" | transloco }}
    </button>
  </div>
</div>

<div *ngIf="!listOrCard" class="container mt-5 mb-5">
  <div class="row mb-5">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Size</th>
          <th scope="col">Price</th>
          <th *ngIf="userLoggedIn.email == 'admin@admin.com'" scope="col">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | search: categoryValue">
          <th
            [routerLink]="
              userLoggedIn.email == 'admin@admin.com'
                ? ['/admin/detail', product.id]
                : ['/detail', product.id]
            "
            scope="row"
          >
            <img
              style="width: 70px; height: auto"
              class="list-image"
              [src]="product.imagePath"
              alt="img"
            />
          </th>
          <td>{{ product.title }}</td>
          <td>{{ product.description | slice: 0:100 }}</td>
          <td>S-XXL</td>
          <td>{{ product.price }}$</td>
          <td
            class="table-buttons"
            *ngIf="userLoggedIn.email == 'admin@admin.com'"
          >
            <fa-icon
              [routerLink]="['/edit', product.id]"
              class="edit-icon"
              [icon]="faEdit"
            ></fa-icon>
            <fa-icon
              (click)="onDelete(product.id)"
              class="del-icon"
              [icon]="faTrash"
            ></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    *ngIf="!categoryValue"
    class="d-flex justify-content-center align-items-center flex-row"
  >
    <button (click)="pageDown()" class="btn btn-sm me-2">
      {{ "shop.prev" | transloco }}
    </button>
    <span class="page-numbers">{{ currentPage + 1 }}/{{ totalPage + 1 }}</span>
    <button (click)="pageUp()" class="btn btn-sm ms-2">
      {{ "shop.next" | transloco }}
    </button>
  </div>
</div>
